.nav {
    display: flex;
    justify-content: space-between;
    background: @medium;
}

a {
    text-decoration: none;
    margin: 0 auto;
    padding: 10px;
    font-size: large;

}

a:hover {
    margin-top: 20px;
    background-color: coral;
    text-decoration: none;
}

.nav-logo-set {
    display: flex;
}

.nav-logo {
    display: flex;
    padding: 7px;
    height: 80px;
    width: 80px;
}

.nav-title {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    font-size: 60px;
    color: @dark;
}