.recipe-view-wrapper {
    background-color: #2d2d37;
    color: #ffffff;
    border-radius: 5px;
    box-shadow:
        0 2px 6px rgba(0, 0, 0, .5),
        0 0 15px rgba(0, 0, 0, .4);
    text-decoration: none;
    width: 80vw;
    margin: 10vh auto;
    padding: 3em;

    h2 {
        font-size: 1.5em;
        color: #fff;
    }
}

.recipe-form {
    text-align: center;

    h2,
    h3 {
        font-size: 1.5em;
        color: #fff;
    }

    input {
        width: 50%;
        background-color: #ffffff;
        font-size: medium;
        color: black;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input:hover {
        background-color: lightblue;
    }

    button {

        margin: 10px;
    }
}